html,
body {
  background-color: #21212a;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  padding: 70px;
  text-align: center;
}

button {
  padding: 10px 15px;
  font-size: 1.2rem;
  border: none;
  background-color: rgb(134, 102, 201);
  margin-right: 2rem;
  display: inline-block;
}
